@import "tailwindcss";

@font-face {
  font-family: "monument";
  src: url("/font/ABCMonumentGrotesk-Medium-Trial.woff2") format("woff2"),
    url("/font/ABCMonumentGrotesk-Medium-Trial.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monument";
  src: url("/font/ABCMonumentGrotesk-Regular-Trial.woff2") format("woff2"),
    url("/font/ABCMonumentGrotesk-Regular-Trial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #f8c13e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-yellow: var(--yellow);
  --font-sans: "monument", Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    font-family: "monument", Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  * {
    font-family: "monument", Arial, Helvetica, sans-serif;
  }
}

.thumbnail {
  /* Hide all controls at once */
  --controls: none;

  /* Hide the error dialog */
  --dialog: none;

  /* Hide the loading indicator */
  --loading-indicator: none;

  /* Target all sections by excluding the section prefix */
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;

  /* Target a specific section by prefixing the CSS var with (top|center|bottom) */
  --center-controls: none;
  --bottom-play-button: none;
}
